SmartHaiShu_WebApp/Service References/HSOpenDataService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OpenDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOpenDataService_GetCommunityIntroduction_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunityIntroduction" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCommunityIntroduction_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunityIntroductionResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCommunityName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunityName" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCommunityName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunityNameResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCommunityNotice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunityNotice" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCommunityNotice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunityNoticeResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCommunityNoticeTitles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunityNoticeTitles" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCommunityNoticeTitles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunityNoticeTitlesResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCommunityNoticeCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunityNoticeCount" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCommunityNoticeCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunityNoticeCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCommunityNoticeTitleByPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunityNoticeTitleByPage" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCommunityNoticeTitleByPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunityNoticeTitleByPageResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCommunityNoticeByPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunityNoticeByPage" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCommunityNoticeByPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunityNoticeByPageResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCommunityFCCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunityFCCount" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCommunityFCCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunityFCCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCommunityFCTitles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunityFCTitles" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCommunityFCTitles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunityFCTitlesResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCommunityFCByPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunityFCByPage" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCommunityFCByPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunityFCByPageResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCommunityFC_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunityFC" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCommunityFC_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunityFCResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetWaterNoticeCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWaterNoticeCount" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetWaterNoticeCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWaterNoticeCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetWaterNotice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWaterNotice" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetWaterNotice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWaterNoticeResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetElectricNoticeCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElectricNoticeCount" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetElectricNoticeCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElectricNoticeCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetElectricNotice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElectricNotice" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetElectricNotice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElectricNoticeResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetBusRoute_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBusRoute" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetBusRoute_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBusRouteResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetBusRouteCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBusRouteCount" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetBusRouteCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBusRouteCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetBusRouteList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBusRouteList" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetBusRouteList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBusRouteListResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCar4SLocationCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCar4SLocationCount" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCar4SLocationCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCar4SLocationCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCar4SLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCar4SLocation" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCar4SLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCar4SLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCarRepairLocationCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarRepairLocationCount" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCarRepairLocationCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarRepairLocationCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCarRepairLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarRepairLocation" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCarRepairLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarRepairLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCarAnnualCheckCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarAnnualCheckCount" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCarAnnualCheckCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarAnnualCheckCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCarAnnualCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarAnnualCheck" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCarAnnualCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarAnnualCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCarSchool_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarSchool" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCarSchool_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarSchoolResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCarSchoolCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarSchoolCount" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCarSchoolCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarSchoolCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetStarHotelCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStarHotelCount" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetStarHotelCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStarHotelCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetStarHotels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStarHotels" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetStarHotels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStarHotelsResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetFlowerHotelCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlowerHotelCount" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetFlowerHotelCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlowerHotelCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetFlowerHotels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlowerHotels" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetFlowerHotels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlowerHotelsResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetChildSchoolCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChildSchoolCount" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetChildSchoolCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChildSchoolCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetChildSchool_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChildSchool" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetChildSchool_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChildSchoolResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetPrimarySchoolCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrimarySchoolCount" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetPrimarySchoolCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrimarySchoolCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetPrimarySchool_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrimarySchool" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetPrimarySchool_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrimarySchoolResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetRetirementHomeCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRetirementHomeCount" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetRetirementHomeCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRetirementHomeCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetRetirementHome_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRetirementHome" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetRetirementHome_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRetirementHomeResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetMarketCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMarketCount" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetMarketCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMarketCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetMarket_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMarket" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetMarket_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMarketResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetDrugStoreCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDrugStoreCount" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetDrugStoreCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDrugStoreCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetDrugStore_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDrugStore" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetDrugStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDrugStoreResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetBankLocationCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBankLocationCount" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetBankLocationCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBankLocationCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetBankLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBankLocation" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetBankLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBankLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetBikeLocationCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBikeLocationCount" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetBikeLocationCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBikeLocationCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetBikeLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBikeLocation" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetBikeLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBikeLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetFlightCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightCount" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetFlightCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetFlights_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlights" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetFlights_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightsResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetHospitalInfoCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHospitalInfoCount" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetHospitalInfoCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHospitalInfoCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetHospitalInfoByPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHospitalInfoByPage" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetHospitalInfoByPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHospitalInfoByPageResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetHospitalDoctorCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHospitalDoctorCount" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetHospitalDoctorCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHospitalDoctorCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetHospitalDoctorByPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHospitalDoctorByPage" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetHospitalDoctorByPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHospitalDoctorByPageResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetAllDoctorHospitals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDoctorHospitals" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetAllDoctorHospitals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDoctorHospitalsResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetDoctorDepartmentsByHostpital_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDoctorDepartmentsByHostpital" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetDoctorDepartmentsByHostpital_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDoctorDepartmentsByHostpitalResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetHospitalDoctorCountBy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHospitalDoctorCountBy" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetHospitalDoctorCountBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHospitalDoctorCountByResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetHospitalDoctorsBy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHospitalDoctorsBy" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetHospitalDoctorsBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHospitalDoctorsByResponse" />
  </wsdl:message>
  <wsdl:portType name="IOpenDataService">
    <wsdl:operation name="GetCommunityIntroduction">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetCommunityIntroduction" message="tns:IOpenDataService_GetCommunityIntroduction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetCommunityIntroductionResponse" message="tns:IOpenDataService_GetCommunityIntroduction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommunityName">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetCommunityName" message="tns:IOpenDataService_GetCommunityName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetCommunityNameResponse" message="tns:IOpenDataService_GetCommunityName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommunityNotice">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetCommunityNotice" message="tns:IOpenDataService_GetCommunityNotice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetCommunityNoticeResponse" message="tns:IOpenDataService_GetCommunityNotice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommunityNoticeTitles">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetCommunityNoticeTitles" message="tns:IOpenDataService_GetCommunityNoticeTitles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetCommunityNoticeTitlesResponse" message="tns:IOpenDataService_GetCommunityNoticeTitles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommunityNoticeCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetCommunityNoticeCount" message="tns:IOpenDataService_GetCommunityNoticeCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetCommunityNoticeCountResponse" message="tns:IOpenDataService_GetCommunityNoticeCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommunityNoticeTitleByPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetCommunityNoticeTitleByPage" message="tns:IOpenDataService_GetCommunityNoticeTitleByPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetCommunityNoticeTitleByPageResponse" message="tns:IOpenDataService_GetCommunityNoticeTitleByPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommunityNoticeByPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetCommunityNoticeByPage" message="tns:IOpenDataService_GetCommunityNoticeByPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetCommunityNoticeByPageResponse" message="tns:IOpenDataService_GetCommunityNoticeByPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommunityFCCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetCommunityFCCount" message="tns:IOpenDataService_GetCommunityFCCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetCommunityFCCountResponse" message="tns:IOpenDataService_GetCommunityFCCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommunityFCTitles">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetCommunityFCTitles" message="tns:IOpenDataService_GetCommunityFCTitles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetCommunityFCTitlesResponse" message="tns:IOpenDataService_GetCommunityFCTitles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommunityFCByPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetCommunityFCByPage" message="tns:IOpenDataService_GetCommunityFCByPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetCommunityFCByPageResponse" message="tns:IOpenDataService_GetCommunityFCByPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommunityFC">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetCommunityFC" message="tns:IOpenDataService_GetCommunityFC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetCommunityFCResponse" message="tns:IOpenDataService_GetCommunityFC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWaterNoticeCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetWaterNoticeCount" message="tns:IOpenDataService_GetWaterNoticeCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetWaterNoticeCountResponse" message="tns:IOpenDataService_GetWaterNoticeCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWaterNotice">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetWaterNotice" message="tns:IOpenDataService_GetWaterNotice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetWaterNoticeResponse" message="tns:IOpenDataService_GetWaterNotice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetElectricNoticeCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetElectricNoticeCount" message="tns:IOpenDataService_GetElectricNoticeCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetElectricNoticeCountResponse" message="tns:IOpenDataService_GetElectricNoticeCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetElectricNotice">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetElectricNotice" message="tns:IOpenDataService_GetElectricNotice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetElectricNoticeResponse" message="tns:IOpenDataService_GetElectricNotice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBusRoute">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetBusRoute" message="tns:IOpenDataService_GetBusRoute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetBusRouteResponse" message="tns:IOpenDataService_GetBusRoute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBusRouteCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetBusRouteCount" message="tns:IOpenDataService_GetBusRouteCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetBusRouteCountResponse" message="tns:IOpenDataService_GetBusRouteCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBusRouteList">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetBusRouteList" message="tns:IOpenDataService_GetBusRouteList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetBusRouteListResponse" message="tns:IOpenDataService_GetBusRouteList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCar4SLocationCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetCar4SLocationCount" message="tns:IOpenDataService_GetCar4SLocationCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetCar4SLocationCountResponse" message="tns:IOpenDataService_GetCar4SLocationCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCar4SLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetCar4SLocation" message="tns:IOpenDataService_GetCar4SLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetCar4SLocationResponse" message="tns:IOpenDataService_GetCar4SLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarRepairLocationCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetCarRepairLocationCount" message="tns:IOpenDataService_GetCarRepairLocationCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetCarRepairLocationCountResponse" message="tns:IOpenDataService_GetCarRepairLocationCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarRepairLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetCarRepairLocation" message="tns:IOpenDataService_GetCarRepairLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetCarRepairLocationResponse" message="tns:IOpenDataService_GetCarRepairLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarAnnualCheckCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetCarAnnualCheckCount" message="tns:IOpenDataService_GetCarAnnualCheckCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetCarAnnualCheckCountResponse" message="tns:IOpenDataService_GetCarAnnualCheckCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarAnnualCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetCarAnnualCheck" message="tns:IOpenDataService_GetCarAnnualCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetCarAnnualCheckResponse" message="tns:IOpenDataService_GetCarAnnualCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarSchool">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetCarSchool" message="tns:IOpenDataService_GetCarSchool_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetCarSchoolResponse" message="tns:IOpenDataService_GetCarSchool_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarSchoolCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetCarSchoolCount" message="tns:IOpenDataService_GetCarSchoolCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetCarSchoolCountResponse" message="tns:IOpenDataService_GetCarSchoolCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStarHotelCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetStarHotelCount" message="tns:IOpenDataService_GetStarHotelCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetStarHotelCountResponse" message="tns:IOpenDataService_GetStarHotelCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStarHotels">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetStarHotels" message="tns:IOpenDataService_GetStarHotels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetStarHotelsResponse" message="tns:IOpenDataService_GetStarHotels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFlowerHotelCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetFlowerHotelCount" message="tns:IOpenDataService_GetFlowerHotelCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetFlowerHotelCountResponse" message="tns:IOpenDataService_GetFlowerHotelCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFlowerHotels">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetFlowerHotels" message="tns:IOpenDataService_GetFlowerHotels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetFlowerHotelsResponse" message="tns:IOpenDataService_GetFlowerHotels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChildSchoolCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetChildSchoolCount" message="tns:IOpenDataService_GetChildSchoolCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetChildSchoolCountResponse" message="tns:IOpenDataService_GetChildSchoolCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChildSchool">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetChildSchool" message="tns:IOpenDataService_GetChildSchool_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetChildSchoolResponse" message="tns:IOpenDataService_GetChildSchool_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrimarySchoolCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetPrimarySchoolCount" message="tns:IOpenDataService_GetPrimarySchoolCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetPrimarySchoolCountResponse" message="tns:IOpenDataService_GetPrimarySchoolCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrimarySchool">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetPrimarySchool" message="tns:IOpenDataService_GetPrimarySchool_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetPrimarySchoolResponse" message="tns:IOpenDataService_GetPrimarySchool_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRetirementHomeCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetRetirementHomeCount" message="tns:IOpenDataService_GetRetirementHomeCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetRetirementHomeCountResponse" message="tns:IOpenDataService_GetRetirementHomeCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRetirementHome">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetRetirementHome" message="tns:IOpenDataService_GetRetirementHome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetRetirementHomeResponse" message="tns:IOpenDataService_GetRetirementHome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMarketCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetMarketCount" message="tns:IOpenDataService_GetMarketCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetMarketCountResponse" message="tns:IOpenDataService_GetMarketCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMarket">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetMarket" message="tns:IOpenDataService_GetMarket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetMarketResponse" message="tns:IOpenDataService_GetMarket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDrugStoreCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetDrugStoreCount" message="tns:IOpenDataService_GetDrugStoreCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetDrugStoreCountResponse" message="tns:IOpenDataService_GetDrugStoreCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDrugStore">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetDrugStore" message="tns:IOpenDataService_GetDrugStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetDrugStoreResponse" message="tns:IOpenDataService_GetDrugStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBankLocationCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetBankLocationCount" message="tns:IOpenDataService_GetBankLocationCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetBankLocationCountResponse" message="tns:IOpenDataService_GetBankLocationCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBankLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetBankLocation" message="tns:IOpenDataService_GetBankLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetBankLocationResponse" message="tns:IOpenDataService_GetBankLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBikeLocationCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetBikeLocationCount" message="tns:IOpenDataService_GetBikeLocationCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetBikeLocationCountResponse" message="tns:IOpenDataService_GetBikeLocationCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBikeLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetBikeLocation" message="tns:IOpenDataService_GetBikeLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetBikeLocationResponse" message="tns:IOpenDataService_GetBikeLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFlightCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetFlightCount" message="tns:IOpenDataService_GetFlightCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetFlightCountResponse" message="tns:IOpenDataService_GetFlightCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFlights">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetFlights" message="tns:IOpenDataService_GetFlights_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetFlightsResponse" message="tns:IOpenDataService_GetFlights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHospitalInfoCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetHospitalInfoCount" message="tns:IOpenDataService_GetHospitalInfoCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetHospitalInfoCountResponse" message="tns:IOpenDataService_GetHospitalInfoCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHospitalInfoByPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetHospitalInfoByPage" message="tns:IOpenDataService_GetHospitalInfoByPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetHospitalInfoByPageResponse" message="tns:IOpenDataService_GetHospitalInfoByPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHospitalDoctorCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetHospitalDoctorCount" message="tns:IOpenDataService_GetHospitalDoctorCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetHospitalDoctorCountResponse" message="tns:IOpenDataService_GetHospitalDoctorCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHospitalDoctorByPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetHospitalDoctorByPage" message="tns:IOpenDataService_GetHospitalDoctorByPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetHospitalDoctorByPageResponse" message="tns:IOpenDataService_GetHospitalDoctorByPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDoctorHospitals">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetAllDoctorHospitals" message="tns:IOpenDataService_GetAllDoctorHospitals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetAllDoctorHospitalsResponse" message="tns:IOpenDataService_GetAllDoctorHospitals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDoctorDepartmentsByHostpital">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetDoctorDepartmentsByHostpital" message="tns:IOpenDataService_GetDoctorDepartmentsByHostpital_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetDoctorDepartmentsByHostpitalResponse" message="tns:IOpenDataService_GetDoctorDepartmentsByHostpital_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHospitalDoctorCountBy">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetHospitalDoctorCountBy" message="tns:IOpenDataService_GetHospitalDoctorCountBy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetHospitalDoctorCountByResponse" message="tns:IOpenDataService_GetHospitalDoctorCountBy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHospitalDoctorsBy">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetHospitalDoctorsBy" message="tns:IOpenDataService_GetHospitalDoctorsBy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetHospitalDoctorsByResponse" message="tns:IOpenDataService_GetHospitalDoctorsBy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOpenDataService" type="tns:IOpenDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCommunityIntroduction">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetCommunityIntroduction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommunityName">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetCommunityName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommunityNotice">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetCommunityNotice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommunityNoticeTitles">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetCommunityNoticeTitles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommunityNoticeCount">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetCommunityNoticeCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommunityNoticeTitleByPage">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetCommunityNoticeTitleByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommunityNoticeByPage">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetCommunityNoticeByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommunityFCCount">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetCommunityFCCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommunityFCTitles">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetCommunityFCTitles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommunityFCByPage">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetCommunityFCByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommunityFC">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetCommunityFC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWaterNoticeCount">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetWaterNoticeCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWaterNotice">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetWaterNotice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElectricNoticeCount">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetElectricNoticeCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElectricNotice">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetElectricNotice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBusRoute">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetBusRoute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBusRouteCount">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetBusRouteCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBusRouteList">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetBusRouteList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCar4SLocationCount">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetCar4SLocationCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCar4SLocation">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetCar4SLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarRepairLocationCount">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetCarRepairLocationCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarRepairLocation">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetCarRepairLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarAnnualCheckCount">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetCarAnnualCheckCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarAnnualCheck">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetCarAnnualCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarSchool">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetCarSchool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarSchoolCount">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetCarSchoolCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStarHotelCount">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetStarHotelCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStarHotels">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetStarHotels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlowerHotelCount">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetFlowerHotelCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlowerHotels">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetFlowerHotels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChildSchoolCount">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetChildSchoolCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChildSchool">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetChildSchool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrimarySchoolCount">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetPrimarySchoolCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrimarySchool">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetPrimarySchool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRetirementHomeCount">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetRetirementHomeCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRetirementHome">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetRetirementHome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMarketCount">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetMarketCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMarket">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetMarket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDrugStoreCount">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetDrugStoreCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDrugStore">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetDrugStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankLocationCount">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetBankLocationCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankLocation">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetBankLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBikeLocationCount">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetBikeLocationCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBikeLocation">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetBikeLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlightCount">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetFlightCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlights">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHospitalInfoCount">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetHospitalInfoCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHospitalInfoByPage">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetHospitalInfoByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHospitalDoctorCount">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetHospitalDoctorCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHospitalDoctorByPage">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetHospitalDoctorByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDoctorHospitals">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetAllDoctorHospitals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoctorDepartmentsByHostpital">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetDoctorDepartmentsByHostpital" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHospitalDoctorCountBy">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetHospitalDoctorCountBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHospitalDoctorsBy">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetHospitalDoctorsBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OpenDataService">
    <wsdl:port name="BasicHttpBinding_IOpenDataService" binding="tns:BasicHttpBinding_IOpenDataService">
      <soap:address location="http://localhost:8167/Design_Time_Addresses/SmartHaiShu.WcfService/OpenDataService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>