SmartHaiShu.WcfService/Service References/PriceMexService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/CityInfoScreenWcf" />
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ExsitesFoodMonitor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AutoID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExsitesFoodMonitorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExsitesFoodMonitorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFoodMonitorById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AutoID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFoodMonitorByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CityInfoScreenWcf" minOccurs="0" name="GetFoodMonitorByIdResult" nillable="true" type="q1:FoodMonitor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindFoodMonitors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CityInfoScreenWcf" minOccurs="0" name="findEntity" nillable="true" type="q2:FoodMonitor" />
        <xs:element minOccurs="0" name="filedOrder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="desc" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindFoodMonitorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CityInfoScreenWcf" minOccurs="0" name="FindFoodMonitorsResult" nillable="true" type="q3:ArrayOfFoodMonitor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFoodMonitorsCounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CityInfoScreenWcf" minOccurs="0" name="findEntity" nillable="true" type="q4:FoodMonitor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFoodMonitorsCountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFoodMonitorsCountsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFoodMonitor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CityInfoScreenWcf" minOccurs="0" name="fm" nillable="true" type="q5:FoodMonitor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFoodMonitorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFoodMonitorResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFoodMonitor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AutoID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFoodMonitorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFoodMonitorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFoodMonitor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CityInfoScreenWcf" minOccurs="0" name="fm" nillable="true" type="q6:FoodMonitor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFoodMonitorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFoodMonitorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatetimeNewest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatetimeNewestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDatetimeNewestResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonitorSites">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonitorSitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="GetMonitorSitesResult" nillable="true" type="q7:ArrayOfKeyValuePairOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFoods">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFoodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="GetFoodsResult" nillable="true" type="q8:ArrayOfKeyValuePairOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategorys">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategorysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCategorysResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFoodName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFoodNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="GetFoodNameResult" nillable="true" type="q10:ArrayOfKeyValuePairOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTableNamesResult" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>