SmartHaiShu_WebApp/Service References/HSSmartDataService/smarths-ndtv.com.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://smarths-ndtv.com" elementFormDefault="qualified" targetNamespace="http://smarths-ndtv.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMemberResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistMemberName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistMemberNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExistMemberNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindMemberResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMemberByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMemberByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindMemberByNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="memberJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMemberResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMemberKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orignalMemberKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newMemberKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMemberKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMemberKeyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllStreet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllStreetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindAllStreetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCommunityByStreet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="street" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCommunityByStreetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindCommunityByStreetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCommunity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCommunityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindCommunityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindStreetGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindStreetGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindStreetGroupResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSessionVerify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateTicks" type="xs:long" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="confirm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSessionVerifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSessionVerifyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadyToUseSessionVerify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadyToUseSessionVerifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadyToUseSessionVerifyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanUseSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateTicks" type="xs:long" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="confirm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanUseSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CanUseSessionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanUseSessionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanUseSessionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CanUseSessionByIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPostSpanTypeConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPostSpanTypeConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindPostSpanTypeConfigResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTypeConfigByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTypeConfigByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindTypeConfigByCategoryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInteractPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contractInfo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataSpan" type="xs:int" />
        <xs:element minOccurs="0" name="memberId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInteractPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddInteractPostResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPostCountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostTitlesByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNo" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostTitlesByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPostTitlesByPageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostsByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNo" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostsByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPostsByPageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialInteractPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialInteractPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSpecialInteractPostResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInteractPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInteractPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteInteractPostResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SocialInsureQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SocialInsureQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SocialInsureQueryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WeatherInfoToday">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WeatherInfoTodayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WeatherInfoTodayResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WeatherInfoFuture">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WeatherInfoFutureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WeatherInfoFutureResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrafficCodeImg">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrafficCodeImgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTrafficCodeImgResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>