SmartHaiShu_WebApp/Service References/HSSmartDataService/smarths-ndtv.com.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://smarths-ndtv.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://smarths-ndtv.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://smarths-ndtv.com/Imports">
      <xsd:import namespace="http://smarths-ndtv.com" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISmartHsService_AddMember_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMember" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_AddMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMemberResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_ExistMemberName_InputMessage">
    <wsdl:part name="parameters" element="tns:ExistMemberName" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_ExistMemberName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistMemberNameResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_FindMember_InputMessage">
    <wsdl:part name="parameters" element="tns:FindMember" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_FindMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindMemberResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_FindMemberByName_InputMessage">
    <wsdl:part name="parameters" element="tns:FindMemberByName" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_FindMemberByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindMemberByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_UpdateMember_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMember" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_UpdateMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMemberResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_UpdateMemberKey_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMemberKey" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_UpdateMemberKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMemberKeyResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_FindAllStreet_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllStreet" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_FindAllStreet_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllStreetResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_FindCommunityByStreet_InputMessage">
    <wsdl:part name="parameters" element="tns:FindCommunityByStreet" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_FindCommunityByStreet_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindCommunityByStreetResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_FindCommunity_InputMessage">
    <wsdl:part name="parameters" element="tns:FindCommunity" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_FindCommunity_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindCommunityResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_FindStreetGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:FindStreetGroup" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_FindStreetGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindStreetGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_AddSessionVerify_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSessionVerify" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_AddSessionVerify_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSessionVerifyResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_ReadyToUseSessionVerify_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadyToUseSessionVerify" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_ReadyToUseSessionVerify_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadyToUseSessionVerifyResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_CanUseSession_InputMessage">
    <wsdl:part name="parameters" element="tns:CanUseSession" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_CanUseSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanUseSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_CanUseSessionById_InputMessage">
    <wsdl:part name="parameters" element="tns:CanUseSessionById" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_CanUseSessionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanUseSessionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_FindPostSpanTypeConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:FindPostSpanTypeConfig" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_FindPostSpanTypeConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindPostSpanTypeConfigResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_FindTypeConfigByCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:FindTypeConfigByCategory" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_FindTypeConfigByCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindTypeConfigByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_AddInteractPost_InputMessage">
    <wsdl:part name="parameters" element="tns:AddInteractPost" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_AddInteractPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddInteractPostResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_GetPostCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPostCount" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_GetPostCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostCountResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_GetPostTitlesByPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPostTitlesByPage" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_GetPostTitlesByPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostTitlesByPageResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_GetPostsByPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPostsByPage" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_GetPostsByPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostsByPageResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_GetSpecialInteractPost_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecialInteractPost" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_GetSpecialInteractPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecialInteractPostResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_DeleteInteractPost_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteInteractPost" />
  </wsdl:message>
  <wsdl:message name="ISmartHsService_DeleteInteractPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteInteractPostResponse" />
  </wsdl:message>
  <wsdl:portType name="ISmartHsService">
    <wsdl:operation name="AddMember">
      <wsdl:input wsaw:Action="http://smarths-ndtv.com/ISmartHsService/AddMember" message="tns:ISmartHsService_AddMember_InputMessage" />
      <wsdl:output wsaw:Action="http://smarths-ndtv.com/ISmartHsService/AddMemberResponse" message="tns:ISmartHsService_AddMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExistMemberName">
      <wsdl:input wsaw:Action="http://smarths-ndtv.com/ISmartHsService/ExistMemberName" message="tns:ISmartHsService_ExistMemberName_InputMessage" />
      <wsdl:output wsaw:Action="http://smarths-ndtv.com/ISmartHsService/ExistMemberNameResponse" message="tns:ISmartHsService_ExistMemberName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindMember">
      <wsdl:input wsaw:Action="http://smarths-ndtv.com/ISmartHsService/FindMember" message="tns:ISmartHsService_FindMember_InputMessage" />
      <wsdl:output wsaw:Action="http://smarths-ndtv.com/ISmartHsService/FindMemberResponse" message="tns:ISmartHsService_FindMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindMemberByName">
      <wsdl:input wsaw:Action="http://smarths-ndtv.com/ISmartHsService/FindMemberByName" message="tns:ISmartHsService_FindMemberByName_InputMessage" />
      <wsdl:output wsaw:Action="http://smarths-ndtv.com/ISmartHsService/FindMemberByNameResponse" message="tns:ISmartHsService_FindMemberByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMember">
      <wsdl:input wsaw:Action="http://smarths-ndtv.com/ISmartHsService/UpdateMember" message="tns:ISmartHsService_UpdateMember_InputMessage" />
      <wsdl:output wsaw:Action="http://smarths-ndtv.com/ISmartHsService/UpdateMemberResponse" message="tns:ISmartHsService_UpdateMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://smarths-ndtv.com/ISmartHsService/Login" message="tns:ISmartHsService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://smarths-ndtv.com/ISmartHsService/LoginResponse" message="tns:ISmartHsService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMemberKey">
      <wsdl:input wsaw:Action="http://smarths-ndtv.com/ISmartHsService/UpdateMemberKey" message="tns:ISmartHsService_UpdateMemberKey_InputMessage" />
      <wsdl:output wsaw:Action="http://smarths-ndtv.com/ISmartHsService/UpdateMemberKeyResponse" message="tns:ISmartHsService_UpdateMemberKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllStreet">
      <wsdl:input wsaw:Action="http://smarths-ndtv.com/ISmartHsService/FindAllStreet" message="tns:ISmartHsService_FindAllStreet_InputMessage" />
      <wsdl:output wsaw:Action="http://smarths-ndtv.com/ISmartHsService/FindAllStreetResponse" message="tns:ISmartHsService_FindAllStreet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindCommunityByStreet">
      <wsdl:input wsaw:Action="http://smarths-ndtv.com/ISmartHsService/FindCommunityByStreet" message="tns:ISmartHsService_FindCommunityByStreet_InputMessage" />
      <wsdl:output wsaw:Action="http://smarths-ndtv.com/ISmartHsService/FindCommunityByStreetResponse" message="tns:ISmartHsService_FindCommunityByStreet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindCommunity">
      <wsdl:input wsaw:Action="http://smarths-ndtv.com/ISmartHsService/FindCommunity" message="tns:ISmartHsService_FindCommunity_InputMessage" />
      <wsdl:output wsaw:Action="http://smarths-ndtv.com/ISmartHsService/FindCommunityResponse" message="tns:ISmartHsService_FindCommunity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindStreetGroup">
      <wsdl:input wsaw:Action="http://smarths-ndtv.com/ISmartHsService/FindStreetGroup" message="tns:ISmartHsService_FindStreetGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://smarths-ndtv.com/ISmartHsService/FindStreetGroupResponse" message="tns:ISmartHsService_FindStreetGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSessionVerify">
      <wsdl:input wsaw:Action="http://smarths-ndtv.com/ISmartHsService/AddSessionVerify" message="tns:ISmartHsService_AddSessionVerify_InputMessage" />
      <wsdl:output wsaw:Action="http://smarths-ndtv.com/ISmartHsService/AddSessionVerifyResponse" message="tns:ISmartHsService_AddSessionVerify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadyToUseSessionVerify">
      <wsdl:input wsaw:Action="http://smarths-ndtv.com/ISmartHsService/ReadyToUseSessionVerify" message="tns:ISmartHsService_ReadyToUseSessionVerify_InputMessage" />
      <wsdl:output wsaw:Action="http://smarths-ndtv.com/ISmartHsService/ReadyToUseSessionVerifyResponse" message="tns:ISmartHsService_ReadyToUseSessionVerify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanUseSession">
      <wsdl:input wsaw:Action="http://smarths-ndtv.com/ISmartHsService/CanUseSession" message="tns:ISmartHsService_CanUseSession_InputMessage" />
      <wsdl:output wsaw:Action="http://smarths-ndtv.com/ISmartHsService/CanUseSessionResponse" message="tns:ISmartHsService_CanUseSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanUseSessionById">
      <wsdl:input wsaw:Action="http://smarths-ndtv.com/ISmartHsService/CanUseSessionById" message="tns:ISmartHsService_CanUseSessionById_InputMessage" />
      <wsdl:output wsaw:Action="http://smarths-ndtv.com/ISmartHsService/CanUseSessionByIdResponse" message="tns:ISmartHsService_CanUseSessionById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindPostSpanTypeConfig">
      <wsdl:input wsaw:Action="http://smarths-ndtv.com/ISmartHsService/FindPostSpanTypeConfig" message="tns:ISmartHsService_FindPostSpanTypeConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://smarths-ndtv.com/ISmartHsService/FindPostSpanTypeConfigResponse" message="tns:ISmartHsService_FindPostSpanTypeConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindTypeConfigByCategory">
      <wsdl:input wsaw:Action="http://smarths-ndtv.com/ISmartHsService/FindTypeConfigByCategory" message="tns:ISmartHsService_FindTypeConfigByCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://smarths-ndtv.com/ISmartHsService/FindTypeConfigByCategoryResponse" message="tns:ISmartHsService_FindTypeConfigByCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddInteractPost">
      <wsdl:input wsaw:Action="http://smarths-ndtv.com/ISmartHsService/AddInteractPost" message="tns:ISmartHsService_AddInteractPost_InputMessage" />
      <wsdl:output wsaw:Action="http://smarths-ndtv.com/ISmartHsService/AddInteractPostResponse" message="tns:ISmartHsService_AddInteractPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPostCount">
      <wsdl:input wsaw:Action="http://smarths-ndtv.com/ISmartHsService/GetPostCount" message="tns:ISmartHsService_GetPostCount_InputMessage" />
      <wsdl:output wsaw:Action="http://smarths-ndtv.com/ISmartHsService/GetPostCountResponse" message="tns:ISmartHsService_GetPostCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPostTitlesByPage">
      <wsdl:input wsaw:Action="http://smarths-ndtv.com/ISmartHsService/GetPostTitlesByPage" message="tns:ISmartHsService_GetPostTitlesByPage_InputMessage" />
      <wsdl:output wsaw:Action="http://smarths-ndtv.com/ISmartHsService/GetPostTitlesByPageResponse" message="tns:ISmartHsService_GetPostTitlesByPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPostsByPage">
      <wsdl:input wsaw:Action="http://smarths-ndtv.com/ISmartHsService/GetPostsByPage" message="tns:ISmartHsService_GetPostsByPage_InputMessage" />
      <wsdl:output wsaw:Action="http://smarths-ndtv.com/ISmartHsService/GetPostsByPageResponse" message="tns:ISmartHsService_GetPostsByPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecialInteractPost">
      <wsdl:input wsaw:Action="http://smarths-ndtv.com/ISmartHsService/GetSpecialInteractPost" message="tns:ISmartHsService_GetSpecialInteractPost_InputMessage" />
      <wsdl:output wsaw:Action="http://smarths-ndtv.com/ISmartHsService/GetSpecialInteractPostResponse" message="tns:ISmartHsService_GetSpecialInteractPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteInteractPost">
      <wsdl:input wsaw:Action="http://smarths-ndtv.com/ISmartHsService/DeleteInteractPost" message="tns:ISmartHsService_DeleteInteractPost_InputMessage" />
      <wsdl:output wsaw:Action="http://smarths-ndtv.com/ISmartHsService/DeleteInteractPostResponse" message="tns:ISmartHsService_DeleteInteractPost_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>