SmartHaiShu_WebApp/Service References/NewsService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="News" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CityInfoScreenWcf" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INews_ExsitesNews_InputMessage">
    <wsdl:part name="parameters" element="tns:ExsitesNews" />
  </wsdl:message>
  <wsdl:message name="INews_ExsitesNews_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExsitesNewsResponse" />
  </wsdl:message>
  <wsdl:message name="INews_GetNewsById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsById" />
  </wsdl:message>
  <wsdl:message name="INews_GetNewsById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="INews_FindNewss_InputMessage">
    <wsdl:part name="parameters" element="tns:FindNewss" />
  </wsdl:message>
  <wsdl:message name="INews_FindNewss_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindNewssResponse" />
  </wsdl:message>
  <wsdl:message name="INews_GetNewssCounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewssCounts" />
  </wsdl:message>
  <wsdl:message name="INews_GetNewssCounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewssCountsResponse" />
  </wsdl:message>
  <wsdl:portType name="INews">
    <wsdl:operation name="ExsitesNews">
      <wsdl:input wsaw:Action="http://tempuri.org/INews/ExsitesNews" message="tns:INews_ExsitesNews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INews/ExsitesNewsResponse" message="tns:INews_ExsitesNews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewsById">
      <wsdl:input wsaw:Action="http://tempuri.org/INews/GetNewsById" message="tns:INews_GetNewsById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INews/GetNewsByIdResponse" message="tns:INews_GetNewsById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindNewss">
      <wsdl:input wsaw:Action="http://tempuri.org/INews/FindNewss" message="tns:INews_FindNewss_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INews/FindNewssResponse" message="tns:INews_FindNewss_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewssCounts">
      <wsdl:input wsaw:Action="http://tempuri.org/INews/GetNewssCounts" message="tns:INews_GetNewssCounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INews/GetNewssCountsResponse" message="tns:INews_GetNewssCounts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INews" type="tns:INews">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExsitesNews">
      <soap:operation soapAction="http://tempuri.org/INews/ExsitesNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewsById">
      <soap:operation soapAction="http://tempuri.org/INews/GetNewsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindNewss">
      <soap:operation soapAction="http://tempuri.org/INews/FindNewss" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewssCounts">
      <soap:operation soapAction="http://tempuri.org/INews/GetNewssCounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="News">
    <wsdl:port name="BasicHttpBinding_INews" binding="tns:BasicHttpBinding_INews">
      <soap:address location="http://win-iirmxfzw3uu/CityInfoScreenWcf.News.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>