SmartHaiShu.CityScreenServices/Service References/NewsService/CityInfoScreenWcf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CityInfoScreenWcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CityInfoScreenWcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NewsModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutoID" type="xs:long" />
      <xs:element minOccurs="0" name="CategoryID" type="xs:long" />
      <xs:element minOccurs="0" name="CheckMemo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Checked" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Checker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contents" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsValid" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastModifyTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Publisher" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewsModel" nillable="true" type="tns:NewsModel" />
  <xs:complexType name="ArrayOfNewsModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NewsModel" nillable="true" type="tns:NewsModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNewsModel" nillable="true" type="tns:ArrayOfNewsModel" />
</xs:schema>