SmartHaiShu.CityScreenServices/Service References/NewsService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/CityInfoScreenWcf" />
  <xs:element name="ExsitesNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AutoID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExsitesNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExsitesNewsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AutoID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CityInfoScreenWcf" minOccurs="0" name="GetNewsByIdResult" nillable="true" type="q1:NewsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindNewss">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CityInfoScreenWcf" minOccurs="0" name="findEntity" nillable="true" type="q2:NewsModel" />
        <xs:element minOccurs="0" name="filedOrder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="desc" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindNewssResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CityInfoScreenWcf" minOccurs="0" name="FindNewssResult" nillable="true" type="q3:ArrayOfNewsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewssCounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CityInfoScreenWcf" minOccurs="0" name="findEntity" nillable="true" type="q4:NewsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewssCountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewssCountsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>