SmartHaiShu.ViewLogic/Service References/OpenDataServiceProxy/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OpenDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOpenDataService_GetCommunityName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunityName" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCommunityName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunityNameResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCommunityNotice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunityNotice" />
  </wsdl:message>
  <wsdl:message name="IOpenDataService_GetCommunityNotice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunityNoticeResponse" />
  </wsdl:message>
  <wsdl:portType name="IOpenDataService">
    <wsdl:operation name="GetCommunityName">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetCommunityName" message="tns:IOpenDataService_GetCommunityName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetCommunityNameResponse" message="tns:IOpenDataService_GetCommunityName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommunityNotice">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpenDataService/GetCommunityNotice" message="tns:IOpenDataService_GetCommunityNotice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpenDataService/GetCommunityNoticeResponse" message="tns:IOpenDataService_GetCommunityNotice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOpenDataService" type="tns:IOpenDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCommunityName">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetCommunityName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommunityNotice">
      <soap:operation soapAction="http://tempuri.org/IOpenDataService/GetCommunityNotice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OpenDataService">
    <wsdl:port name="BasicHttpBinding_IOpenDataService" binding="tns:BasicHttpBinding_IOpenDataService">
      <soap:address location="http://localhost:8167/Design_Time_Addresses/SmartHaiShu.WcfService/OpenDataService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>